@tailwind base;
@tailwind components;
@tailwind utilities;

.water {
  animation: ripple 2.5s infinite linear;
}

@keyframes ripple {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-148%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-in-out;
}
